body {
    background-color: palevioletred;
    font-family: 'Courier New', Courier, monospace
}

.title-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.response-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#title {
    font-family: Impact, sans-serif;
    font-size: 50px;
    color: #333;
}