default_language_version:
  python: python3
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --config=pyproject.toml]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config=pyproject.toml]