.menu-button {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
    padding: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.menu {
    position: absolute;
    background-color: #1f1f1f;
    border-right: 1px solid rgb(84, 84, 84);
    left: -152px;
    width: 130px;
    transition: left 0.3s ease;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.menu.open {
    left: 0;
}

.menu ul {
    background-color: transparent;
    list-style-type: none;
    padding: 10px;
    margin-top: 60px;
}

.menu ul li {
    display: flex;
    border-radius: 4px;
    padding: 16px;
    cursor: cursor;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.menu ul li img {
    width: 17x;
    height: 17px;
    margin-top: 2px;
    margin-left: -5px;
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }

.menu-button.open {
    transform: rotate(180deg);
}