.image-container {
    margin: 20px 200px;
    display: flex;
    justify-content: center;
    min-width: 100px;
}

.title-container {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    min-width: 100px;
}