body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    position: relative;
    overflow-x: hidden;
}

.title-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.menu-button {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
    padding: 0;
    z-index: 1;
}

#content {
    margin-left: 0;
    transition: margin-left 0.3s ease, transform 0.3s ease;
}

.menu-open #content {
    margin-left: 100px;
    transform: translateX(100px) translateZ(0);
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    background-color: whitesmoke;
    transition: transform 0.3s ease;
    transform: translateX(-100%) translateZ(0);
    z-index: 0;
}

.menu-open .menu {
    transform: translateX(0) translateZ(0);
}

.menu-open .menu-button {
    transform: translateX(100px) translateZ(0);
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 20px;
    text-align: left;
    cursor: cursor;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #333;
}

.image-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#chat-container {
    position: relative;
    width: 70%;
    height: 70vh;
    max-height: 70vh;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: transparent;
    border-top: 1px solid lightgrey;
    border-image: linear-gradient(to right, transparent, lightgrey 20%, lightgrey 50%, lightgrey 80%, transparent) 1;
}

#chat-messages {
    overflow-y: auto;
    padding: 10px;;
    display: flex;
}

.chat-bubble {
    background-color: #5525e3;
    color: whitesmoke;
    max-width: 55%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    animation: fadeInUp 0.5s ease forwards;
    align-self: flex-start;
}

.user-bubble {
    align-self: flex-end;
    background-color: #5525e3;
}

#messageForm {
    position: relative;
    border: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
    width: 70%;;
    padding: 10px;
    display: flex;
    align-content: center;
    background-color: transparent;
    flex: 1;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 5px 10px;
}

.input-container {
    display: flex;
    flex: 1;
    align-items: right;
}

#messageInput {
    border: none;
    background-color: whitesmoke;
    flex: 1;
    outline: none;
}

button[type="submit"] {
    border: 1px solid lightslategray;
    background-color: whitesmoke;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}