/* .outer-container {
    background-color: #e7e3ed;
    border: 1px solid #e7e3ed;
    border-radius: 10px;
} */

.blurred-background {
    filter: blur(8px);
    transition: filter 0.5s ease;
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}