#chat-container {
    background-color: #e7e3ed;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    margin: 0 auto;
    min-width: 200px;
    min-height: 100px;
    max-width: 700px;
    height: calc(100vh - 316px);
    z-index: 0;
    border-top: 1px solid lightgrey;
    border-image: linear-gradient(to right, transparent, lightgrey 10%, lightgrey 50%, lightgrey 90%, transparent) 1;
    animation: 0.5s fadeIn forwards;
}

#messageForm {
    background-color: whitesmoke;
    border: 1px solid lightslategray;
    padding: 15px;
    border-radius: 10px;
    padding: 0 15px;
    margin: 30px auto;
    min-width: 100px;
    max-width: 500px;
    animation: 0.5s fadeIn forwards;
}

.input-container {
    display: flex;
}

#messageInput {
    border: none;
    background-color: transparent;
    flex: 1;
    outline: none;
}

#chat-messages {
    overflow-y: auto;
    padding: 10px;
    display: flex;
}

.help-bubbles {
    height: 60px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(101, 101, 101);
    font-size: 15px;
}

.help-bubble {
    flex: 1;
    border: 1px dashed lightslategray;
    margin: 0 3px;
    display: flex;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
}

.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.chat-bubble {
    background-color: #5525e3;
    color: whitesmoke;
    max-width: 55%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    animation: fadeInUp 0.5s ease forwards;
    align-self: flex-start;
}

.star {
    position: fixed;
    display: inline-block;
    right: 0px;
    top: 33px;
    transform: scale(0.6);

}

.user-bubble {
    align-self: flex-end;
    background-color: #5525e3;
}

button[type="submit"] {
    border: 1px solid lightslategray;
    background-color: whitesmoke;
    color: black;
    padding: 5px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
}

.saved-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(137, 137, 137, 0.7);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    opacity: 0;
    animation: fadeInOut 2s ease-in-out;
  }