.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}

.home-button {
    position: relative;
    top: -15px;
    background-color: transparent;
    border: none;
    padding: 0;
    justify-content: center;
}

.unlock-button {
    background-color: white;
    transform: translateX(22%);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
}

.unlock-button img {
    width: 15px;
    height: 15px;
}