/* .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 220px);
} */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-button {
    position: relative;
    top: -15px;
    background-color: transparent;
    border: none;
    padding: 0;
    justify-content: center;
}

.unlock-button {
    background-color: #cecece;
    transform: translateX(22%);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
}

.unlock-button img {
    width: 12px;
    height: 12px;
}