.menu-button {
    position: absolute;
    /* top: 25px; */
    /* left: 25px; */
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
    padding: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.menu {
    position: absolute;
    background-color: whitesmoke;
    border-right: 1px solid lightgrey;
    border-image: linear-gradient(to top, transparent, lightgrey 10%, lightgrey 50%, lightgrey 90%, transparent) 1;
    left: -152px;
    width: 150px;
    transition: left 0.3s ease;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.menu.open {
    left: 0;
}

.menu ul {
    background-color: transparent;
    list-style-type: none;
    padding: 10px;
    margin-top: 60px;
}

.menu ul li {
    display: flex;
    background-color: #e7e3ed;
    border: 1px solid #e7e3ed;
    border-radius: 4px;
    padding: 18px;
    cursor: cursor;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #333;
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }

.menu-button.open {
    transform: rotate(180deg);
}