.table-container {
    margin: 0 auto;
    min-width: 200px;
    max-width: 400px;
    min-height: 300px;
    height: calc(100vh - 275px);
    overflow-y: scroll;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.bubble-container {
    display: flex;
    flex-direction: column;
}

.bubble {
    overflow: hidden;
    background-color: #5525e3;
    color: whitesmoke;
    max-width: 55%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    transition: max-height 0.5s ease;
    max-height: 50px;
}

.bubble.full-text {
    max-height: 800px;
    transform: max-height 0.8s ease;
}

.date {
    font-size: 12px;
    font-style: italic;
    color: #333;
}

.data-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    color: #333;
}