.image-container {
    margin: 20px 200px;
    display: flex;
    justify-content: center;
    min-width: 85px;
    margin-bottom: 0;
    animation: 0.5s fadeIn forwards;
}

.title-container {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    min-width: 85px;
    animation: 0.5s fadeIn forwards;
}