.title {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
}

.title-container {
    animation: 2s fadeIn forwards;
}

.title-container h1 {
    color: white;
    font-size: clamp(4rem, 6vw, 7rem);
    margin-bottom: 0;
    margin-top: 0;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header h1 {
    color: white;
    font-size: 1.3rem;
    opacity: 0;
    animation: fadeIn 2s 2s forwards;
}

.image-container img {
    width: clamp(90px, 9.4vw, 150px);
    height: auto;
    margin-right: 18px;
    animation: 2s fadeIn forwards;
}
